.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px dashed black;
}

.container-child {
    border: 1px solid red;
}

.flexbox-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.has-blue-background {
    background-color: #F7A7FF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    color: blue;
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}
